
{% extends "base.html" %}
{% load static %}

{% block title %}
Homepage
{% endblock %}


{% block head %}

{% endblock %}


{% block content %}


    {% if user.is_authenticated %}
       


    <div class="card-grid">
        <a href="{% url 'book_appointment_user' %}" class="card-link">
            <div class="card-box">
                <h3>New appointment </h3>
                <p>Create a new appointment</p>
            </div>
        </a>

        <a href="{% url 'appointment_list_user' %}" class="card-link">
            <div class="card-box">
                <h3>User appointments</h3>
                <p>View or Update your appointments</p>
            </div>
        </a>



    </div>


        
    {% else %}
        <p>You're not logged in. <a href="{% url 'login_client' %}">Login here</a></p>
    
    
    {% endif %}


{% endblock %}
