
    
{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}


{% block head %}

{% endblock %}


{% block content %}


    {% if user.is_authenticated %}           
        <h2>Your appointments</h2>
        <a href="{% url 'book_appointment_user' %}">+ New appointment</a>
        <ul>
        {% for app in appointments %}
            <li>
            {{ app.activity }} - {{ app.date }}
            <a href="{% url 'appointment_update_user' app.pk %}">Edit</a> |
            <a href="{% url 'appointment_delete_user' app.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No appointment booked.</li>
        {% endfor %}
        </ul>

    {% else %}
        <p>You're not logged in . <a href="{% url 'login_client' %}">Login here</a></p>
    
    
    {% endif %}



{% endblock %}
