
{% extends "base.html" %}
{% load static %}

{% block title %}
Homepage
{% endblock %}


{% block head %}

{% endblock %}


{% block content %}


    {% if user.is_authenticated %}
       


    <div class="card-grid">
        <a href="{% url 'book_appointment_user' %}" class="card-link">
            <div class="card-box">
                <h3>Nuovo Appuntamento</h3>
                <p>Aggiungi un nuovo appuntamento</p>
            </div>
        </a>

        <a href="{% url 'appointment_list_user' %}" class="card-link">
            <div class="card-box">
                <h3>I tuoi appuntamenti</h3>
                <p>Consulta o modifica i tuoi appuntamenti</p>
            </div>
        </a>

        <a href="#" class="card-link">
            <div class="card-box">
                <h3></h3>
                <p></p>
            </div>
        </a>



    </div>


        
    {% else %}
        <p>Non sei loggato. <a href="{% url 'login_client' %}">Accedi qui</a></p>
    
    
    {% endif %}


{% endblock %}
