
    
{% extends "base.html" %}
{% load static %}

{% block title %}

{% endblock %}


{% block head %}

{% endblock %}


{% block content %}


    {% if user.is_authenticated %} 
    <h2>Do you really want to delete : "{{ appointment.activity }}" del {{ appointment.date }}?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirm</button>
        <a href="{% url 'appointment_list_user' %}">Annulla</a>
    </form>
    
    
    
    
       

    {% else %}
        <p>Non sei loggato. <a href="{% url 'login_client' %}">Accedi qui</a></p>
    
    
    {% endif %}



{% endblock %}
