
{% extends "base.html" %}
{% load static %}

{% block title %}
Homepage
{% endblock %}


{% block head %}

{% endblock %}


{% block content %}
    <h2>Your Cart</h2>
        {% if cart_items %}
            {% for item in cart_items %}
                <div class="profile-section">
                    {{ item.product.name }} ({{ item.quantity }})
                </div>
            {% endfor %}


            <form method="post" action="{% url 'cart_dashboard' %}">
                {% csrf_token %}
                {{ form_confirm.as_p }}
            <button type="submit">Confirm Cart</button>
            </form>

            <form method="post" action="{% url 'deactivate_cart' carts.pk %}">
                {% csrf_token %}
            <button type="submit">Delete Cart</button>
            </form>
    
    
        {% else %}
            <p>There are no elements</p>
        {% endif %}



{% endblock %}
