
{% extends "base.html" %}
{% load static %}

{% block title %}
Homepage 🚀
{% endblock %}


{% block head %}

{% endblock %}


{% block content %}


    {% if user.is_authenticated %}
        <p>Hello {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Logout</a>


    <br>
    <br>
    <br>

    <div class="card-grid">
        <a href="{% url 'client_mesuraments_table' %}" class="card-link">
            <div class="card-box">
                <h3>Your Mesurements</h3>
                <p>Show/Update your Measurements</p>
            </div>
        </a>

        <a href="{% url 'appointment_dashboard' %}" class="card-link">
            <div class="card-box">
                <h3>Your appointments</h3>
                <p>Show/Update your Appointments</p>
            </div>
        </a>

       

        <a href="{% url 'crochet_dashboard' %}" class="card-link">
            <div class="card-box">
                <h3>SocialCrochet</h3>
                <p>
Our social network where you can publish your works</p>
            </div>
        </a>


    </div>


        
    {% else %}
        <p>You're not logged in. <a href="{% url 'login_client' %}">Login here</a></p>
    
    
    {% endif %}

        <a href="{% url 'shop_categories_list' %}" class="card-link">
            <div class="card-box">
                <h3>Shop Online</h3>
                <p>Our Shop Online</p>
            </div>
        </a>

{% endblock %}
