
{% extends "base.html" %}
{% load static %}

{% block title %}
Homepage
{% endblock %}


{% block head %}

{% endblock %}


{% block content %}

    <h2>Le nostre categorie</h2>
    <div class="card-grid">
        {% for category in categories %}
        <a href="{% url 'update_product_product_section' category.slug %}" class="card-link">
            <div class="card-box">
                <h3>{{ category.name }}</h3>
                <p>{{ category.description }}</p>
            </div>
        </a>
        {% empty %}
        <p>Nessuna categoria disponibile.</p>
        {% endfor %}
    </div>

{% endblock %}
