{% extends "base.html" %}
{% block title %}Client Dashboard{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card card-atelier">
            <div class="card-body text-center py-4">
                <h2 class="card-title mb-3">Profile of: {{ user.username }}</h2>
                <a href="{% url 'client_mesuraments_table' %}" class="btn btn-primary">Go to your measurements</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
