{% extends "base.html" %}
{% block title %}
Registrazione Cliente
{% endblock %}


{% block head %}
{% endblock %}


{% block content %}
<h2>New customer registration</h2>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>User data</legend>
            {{ user_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Client Data</legend>
            {{ client_form.as_p }}
        </fieldset>
        <button type="submit">Register</button>
    </form>
{% endblock %}
